
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_responsiveImageLayout.cshtml";
}


<main>
    <section class="text-center " id="accordion-title">
        <div class="title">
            <h1>Images</h1>
            <h6>Inspiration comes of working every day.</h6>
            <a href="#">Home</a>
            <span><i class="fas fa-chevron-right"></i></span>
            <a href="#">Shortcodes</a> <span><i class="fas fa-chevron-right"></i></span>
            <a href="#">Images</a>
        </div>


    </section>
    <section id="resp-imgs-area">
        <div class="container">
            <div class="row rounded">

                <div class="col-6">
                    <h2>Rounded</h2>
                    <p>Add classes to an <span> img</span> element to easily style images in any project.</p>
                    <img src="img/550x240.png" alt="">
                </div>
                <div class="col-6">
                    <h2>Rounded (responsive)</h2>
                    <p>Add classes to an <span> img</span> element to easily style images in any project.</p>
                    <img src="img/550x240.png" alt="">
                </div>
            </div>
            <div class="row circle">
                <div class="col-4">
                    <h2>Circle</h2>
                    <p>Add classes to an <span> img</span> element to easily style images in any project.</p>
                    <img src="img/300x300.png" alt="">
                </div>
                <div class="col-4">
                    <h2>Circle</h2>
                    <p>Add classes to an <span> img</span> element to easily style images in any project.</p>
                    <img src="img/300x300.png" alt="">
                </div>
                <div class="col-4">
                    <h2>Circle</h2>
                    <p>Add classes to an <span> img</span> element to easily style images in any project.</p>
                    <img src="img/300x300.png" alt="">
                </div>
            </div>
            <div class="row thumbnail">
                <div class="col-4">
                    <h2>Thumbnail</h2>
                    <p>Add classes to an <span> img</span> element to easily style images in any project.</p>
                    <img src="img/400x250.png" alt="">
                </div>
                <div class="col-4">
                    <h2>Thumbnail</h2>
                    <p>Add classes to an <span> img</span> element to easily style images in any project.</p>
                    <img src="img/400x250.png" alt="">
                </div>
                <div class="col-4">
                    <h2>Thumbnail</h2>
                    <p>Add classes to an <span> img</span> element to easily style images in any project.</p>
                    <img src="img/400x250.png" alt="">
                </div>
            </div>
        </div>

    </section>
</main>
