
@{
    ViewData["Title"] = "Accordion";
    Layout = "~/Views/Shared/_accordionLayout.cshtml";
}

<main>
    <section class="text-center " id="accordion-title">
        <div class="title">
            <h1>Accordion</h1>
            <h6>Inspiration comes of working every day.</h6>
            <a href="#">Home</a>
            <span><i class="fas fa-chevron-right"></i></span>
            <a href="#">Shortcodes</a> <span><i class="fas fa-chevron-right"></i></span>
            <a href="#">Accordion</a>
        </div>


    </section>
    <section id="accordion">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="left-nav">
                        <label>Elements</label>
                        <ul>
                            <li><a href="">Accordions</a> </li>
                            <li><a href=""> Alerts</a></li>
                            <li><a href="">Animations</a> </li>
                            <li><a href="">Audio & Video</a></li>
                            <li><a href="">Blockquotes</a> </li>
                            <li><a href="">BS Notify<span class="badge badge-danger">NEW</span></a> </li>
                            <li><a href="">Breadcrumbs</a> </li>
                            <li><a href="">Buttons</a> </li>
                            <li><a href="">Clients logos</a> </li>
                            <li><a href=""> Call to action</a></li>
                            <li><a href="">Carousel</a> </li>
                            <li><a href="">Code</a> </li>
                            <li><a href="">Countdown Timers</a> </li>
                            <li><a href="">Countdown<span class="badge badge-danger">NEW</span></a> </li>
                            <li><a href="">Counter Numbers</a> </li>
                            <li><a href=""> Dropcat & Highlight</a></li>
                            <li><a href=""> Dropdown<span class="badge badge-danger">NEW</span></a> </li>
                            <li><a href="">Team members</a> </li>
                            <li><a href=""> Grid System</a></li>
                            <li><a href="">Icon Boxes</a> </li>
                            <li><a href=""> Icons<span class="badge badge-danger">NEW</span></a> </li>
                            <li><a href="">Images</a> </li>
                            <li><a href="">Labels and Badges</a> </li>
                            <li><a href="">Lightbox</a> </li>
                            <li><a href="">Lists & Bullet lists</a> </li>
                            <li><a href="">Modal</a> </li>
                            <li><a href="">Modal Strip</a> </li>
                            <li><a href="">Navbar & Navs</a> </li>
                            <li><a href="">Pagination & Pager</a> </li>
                            <li><a href="">Panels</a> </li>
                            <li><a href="">Pie charts</a> </li>
                            <li><a href="">Popover & tooltips</a> </li>
                            <li><a href="">Pricing tables</a> </li>
                            <li><a href="">Progress bars</a> </li>
                            <li><a href="">Responsive utilities</a> </li>
                            <li><a href=""> Sections</a></li>
                            <li><a href="">Smooth Scrolling</a> </li>
                            <li><a href="">Social Icons</a> </li>
                            <li><a href="">Text Boxes</a> </li>
                            <li><a href="">Tabs</a> </li>
                            <li><a href=""> Testimonials</a></li>
                            <li><a href="">Toggles</a> </li>
                            <li><a href="">Typography</a> </li>
                            <li><a href="">Text Rotator</a> </li>
                        </ul>
                        <label>Forms</label>
                        <ul>
                            <li><a href="">Form Elements</a> </li>
                            <li><a href="">BS Switch<span class="badge badge-danger">NEW</span></a> </li>
                            <li><a href=""> Clipboard<span class="badge badge-danger">NEW</span></a> </li>
                            <li><a href="">Date & Time Pickers</a> </li>
                            <li><a href=""> Range Slider<span class="badge badge-danger">NEW</span></a> </li>
                            <li><a href="">Switch Toggle<span class="badge badge-danger">NEW</span></a> </li>
                        </ul>
                        <label>Charts</label>
                        <ul>
                            <li><a href="">ChartJS<span class="badge badge-danger">NEW</span></a> </li>
                            <li><a href="">amCharts<span class="badge badge-danger">NEW</span></a> </li>
                            <li><a href="">MorrisJS<span class="badge badge-danger">NEW</span></a> </li>
                        </ul>
                        <label>Calendar</label>
                        <ul>
                            <li><a href="">Calendar<span class="badge badge-danger">NEW</span></a> </li>
                            <li><a href="">Google Calendar</a> </li>
                            <li><a href="">List Calendar</a> </li>
                        </ul>
                        <label>Maps</label>
                        <ul>
                            <li><a href="">Google Maps</a> </li>
                            <li><a href="">amChart Maps</a> </li>

                        </ul>
                        <label>Tables</label>
                        <ul>
                            <li><a href=""> Data Tables<span class="badge badge-danger">NEW</span></a></li>
                            <li><a href=""> Basic</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-9">
                    <div class="accordions">
                        <div class="default">
                            <h4>Default</h4>
                            <div class="border started">

                                <h6>Before you get started<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        A wonderful serenity has taken possession of my entire soul, like these sweet
                                        mornings of spring which I enjoy with my whole heart.
                                    </p>
                                    <p>
                                        I am alone, and feel the charm of existence in this spot, which was created
                                        for the
                                        bliss of souls like mine. I am so happy, my dear friend, so absorbed in the
                                        exquisite sense of mere tranquil existence, that I neglect my talents. I
                                        should be
                                        incapable of drawing a single stroke at the present moment; and yet I feel
                                        that I
                                        never was a greater artist than now.
                                    </p>
                                </div>
                            </div>
                            <div class="border layout">

                                <h6>Layout and design options<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        When, while the lovely valley teems with vapour around me, and the meridian
                                        sun strikes the upper surface of the impenetrable foliage of my trees, and
                                        but a few stray gleams steal into the inner sanctuary.
                                    </p>
                                    <p>
                                        II throw myself down among the tall grass by the trickling stream; and, as I
                                        lie close to the earth, a thousand unknown plants are noticed by me
                                    </p>
                                </div>
                            </div>
                            <div class="border compatibility">

                                <h6>Compatibility with premium plugins<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        As it floats around us in an eternity of bliss; and then, my friend, when
                                        darkness overspreads my eyes, and heaven and earth seem to dwell in my soul
                                        and absorb its power, like the form of a beloved mistress
                                    </p>
                                    <p>
                                        I often think with longing, Oh, would I could describe these conceptions,
                                        could impress upon paper all that is living so full and warm within me, that
                                        it might be the mirror of my soul, as my soul is the mirror of the infinite
                                        God! O my friend — but it is too much for my strength — I sink under the
                                        weight of the splendour of these visions!”
                                    </p>
                                </div>
                            </div>


                        </div>
                        <hr>
                        <div class="shadow-acc">
                            <h4>Shadow</h4>
                            <div class="border started shadow">

                                <h6>Before you get started<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        A wonderful serenity has taken possession of my entire soul, like these sweet
                                        mornings of spring which I enjoy with my whole heart.
                                    </p>
                                    <p>
                                        I am alone, and feel the charm of existence in this spot, which was created
                                        for the
                                        bliss of souls like mine. I am so happy, my dear friend, so absorbed in the
                                        exquisite sense of mere tranquil existence, that I neglect my talents. I
                                        should be
                                        incapable of drawing a single stroke at the present moment; and yet I feel
                                        that I
                                        never was a greater artist than now.
                                    </p>
                                </div>
                            </div>
                            <div class="border layout shadow">

                                <h6>Layout and design options<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        When, while the lovely valley teems with vapour around me, and the meridian
                                        sun strikes the upper surface of the impenetrable foliage of my trees, and
                                        but a few stray gleams steal into the inner sanctuary.
                                    </p>
                                    <p>
                                        II throw myself down among the tall grass by the trickling stream; and, as I
                                        lie close to the earth, a thousand unknown plants are noticed by me
                                    </p>
                                </div>
                            </div>
                            <div class="border compatibility shadow">

                                <h6>Compatibility with premium plugins<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        As it floats around us in an eternity of bliss; and then, my friend, when
                                        darkness overspreads my eyes, and heaven and earth seem to dwell in my soul
                                        and absorb its power, like the form of a beloved mistress
                                    </p>
                                    <p>
                                        I often think with longing, Oh, would I could describe these conceptions,
                                        could impress upon paper all that is living so full and warm within me, that
                                        it might be the mirror of my soul, as my soul is the mirror of the infinite
                                        God! O my friend — but it is too much for my strength — I sink under the
                                        weight of the splendour of these visions!”
                                    </p>
                                </div>
                            </div>

                        </div>
                        <hr>
                        <div class="with-icon">
                            <h4> With Icon</h4>
                            <div class="border started ">

                                <h6>
                                    <i class="fa fa-rocket"></i>Before you get started<span>
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </h6>
                                <div class="content stop">
                                    <p>
                                        A wonderful serenity has taken possession of my entire soul, like these sweet
                                        mornings of spring which I enjoy with my whole heart.
                                    </p>
                                    <p>
                                        I am alone, and feel the charm of existence in this spot, which was created
                                        for the
                                        bliss of souls like mine. I am so happy, my dear friend, so absorbed in the
                                        exquisite sense of mere tranquil existence, that I neglect my talents. I
                                        should be
                                        incapable of drawing a single stroke at the present moment; and yet I feel
                                        that I
                                        never was a greater artist than now.
                                    </p>
                                </div>
                            </div>
                            <div class="border layout">

                                <h6>
                                    <i class="fa fa-heart"></i>Layout and design options<span>
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </h6>
                                <div class="content stop">
                                    <p>
                                        When, while the lovely valley teems with vapour around me, and the meridian
                                        sun strikes the upper surface of the impenetrable foliage of my trees, and
                                        but a few stray gleams steal into the inner sanctuary.
                                    </p>
                                    <p>
                                        II throw myself down among the tall grass by the trickling stream; and, as I
                                        lie close to the earth, a thousand unknown plants are noticed by me
                                    </p>
                                </div>
                            </div>
                            <div class="border compatibility">

                                <h6>
                                    <i class="fa fa-shopping-cart"></i> Compatibility with premium plugins<span>
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </h6>
                                <div class="content stop">
                                    <p>
                                        As it floats around us in an eternity of bliss; and then, my friend, when
                                        darkness overspreads my eyes, and heaven and earth seem to dwell in my soul
                                        and absorb its power, like the form of a beloved mistress
                                    </p>
                                    <p>
                                        I often think with longing, Oh, would I could describe these conceptions,
                                        could impress upon paper all that is living so full and warm within me, that
                                        it might be the mirror of my soul, as my soul is the mirror of the infinite
                                        God! O my friend — but it is too much for my strength — I sink under the
                                        weight of the splendour of these visions!”
                                    </p>
                                </div>
                            </div>


                        </div>
                        <hr>

                        <div class="simple">
                            <h4> Simple</h4>
                            <div class="border-bottom started">

                                <h6> Before you get started<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        A wonderful serenity has taken possession of my entire soul, like these sweet
                                        mornings of spring which I enjoy with my whole heart.
                                    </p>
                                    <p>
                                        I am alone, and feel the charm of existence in this spot, which was created
                                        for the
                                        bliss of souls like mine. I am so happy, my dear friend, so absorbed in the
                                        exquisite sense of mere tranquil existence, that I neglect my talents. I
                                        should be
                                        incapable of drawing a single stroke at the present moment; and yet I feel
                                        that I
                                        never was a greater artist than now.
                                    </p>
                                </div>
                            </div>
                            <div class="border-bottom layout">

                                <h6>Layout and design options<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        When, while the lovely valley teems with vapour around me, and the meridian
                                        sun strikes the upper surface of the impenetrable foliage of my trees, and
                                        but a few stray gleams steal into the inner sanctuary.
                                    </p>
                                    <p>
                                        II throw myself down among the tall grass by the trickling stream; and, as I
                                        lie close to the earth, a thousand unknown plants are noticed by me
                                    </p>
                                </div>
                            </div>
                            <div class="border-botom compatibility">

                                <h6> Compatibility with premium plugins<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        As it floats around us in an eternity of bliss; and then, my friend, when
                                        darkness overspreads my eyes, and heaven and earth seem to dwell in my soul
                                        and absorb its power, like the form of a beloved mistress
                                    </p>
                                    <p>
                                        I often think with longing, Oh, would I could describe these conceptions,
                                        could impress upon paper all that is living so full and warm within me, that
                                        it might be the mirror of my soul, as my soul is the mirror of the infinite
                                        God! O my friend — but it is too much for my strength — I sink under the
                                        weight of the splendour of these visions!”
                                    </p>
                                </div>
                            </div>


                        </div>
                        <hr>
                        <div class="flat">
                            <h4>Flat</h4>
                            <div class=" started">

                                <h6>Before you get started<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        A wonderful serenity has taken possession of my entire soul, like these sweet
                                        mornings of spring which I enjoy with my whole heart.
                                    </p>
                                    <p>
                                        I am alone, and feel the charm of existence in this spot, which was created
                                        for the
                                        bliss of souls like mine. I am so happy, my dear friend, so absorbed in the
                                        exquisite sense of mere tranquil existence, that I neglect my talents. I
                                        should be
                                        incapable of drawing a single stroke at the present moment; and yet I feel
                                        that I
                                        never was a greater artist than now.
                                    </p>
                                </div>
                            </div>
                            <div class=" layout">

                                <h6>Layout and design options<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        When, while the lovely valley teems with vapour around me, and the meridian
                                        sun strikes the upper surface of the impenetrable foliage of my trees, and
                                        but a few stray gleams steal into the inner sanctuary.
                                    </p>
                                    <p>
                                        II throw myself down among the tall grass by the trickling stream; and, as I
                                        lie close to the earth, a thousand unknown plants are noticed by me
                                    </p>
                                </div>
                            </div>
                            <div class=" compatibility">

                                <h6>Compatibility with premium plugins<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        As it floats around us in an eternity of bliss; and then, my friend, when
                                        darkness overspreads my eyes, and heaven and earth seem to dwell in my soul
                                        and absorb its power, like the form of a beloved mistress
                                    </p>
                                    <p>
                                        I often think with longing, Oh, would I could describe these conceptions,
                                        could impress upon paper all that is living so full and warm within me, that
                                        it might be the mirror of my soul, as my soul is the mirror of the infinite
                                        God! O my friend — but it is too much for my strength — I sink under the
                                        weight of the splendour of these visions!”
                                    </p>
                                </div>
                            </div>


                        </div>
                        <hr>
                        <div class="dark">
                            <h4>Dark</h4>
                            <div class="border started">

                                <h6>Before you get started<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        A wonderful serenity has taken possession of my entire soul, like these sweet
                                        mornings of spring which I enjoy with my whole heart.
                                    </p>
                                    <p>
                                        I am alone, and feel the charm of existence in this spot, which was created
                                        for the
                                        bliss of souls like mine. I am so happy, my dear friend, so absorbed in the
                                        exquisite sense of mere tranquil existence, that I neglect my talents. I
                                        should be
                                        incapable of drawing a single stroke at the present moment; and yet I feel
                                        that I
                                        never was a greater artist than now.
                                    </p>
                                </div>
                            </div>
                            <div class="border layout">

                                <h6>Layout and design options<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        When, while the lovely valley teems with vapour around me, and the meridian
                                        sun strikes the upper surface of the impenetrable foliage of my trees, and
                                        but a few stray gleams steal into the inner sanctuary.
                                    </p>
                                    <p>
                                        II throw myself down among the tall grass by the trickling stream; and, as I
                                        lie close to the earth, a thousand unknown plants are noticed by me
                                    </p>
                                </div>
                            </div>
                            <div class="border compatibility">

                                <h6>Compatibility with premium plugins<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        As it floats around us in an eternity of bliss; and then, my friend, when
                                        darkness overspreads my eyes, and heaven and earth seem to dwell in my soul
                                        and absorb its power, like the form of a beloved mistress
                                    </p>
                                    <p>
                                        I often think with longing, Oh, would I could describe these conceptions,
                                        could impress upon paper all that is living so full and warm within me, that
                                        it might be the mirror of my soul, as my soul is the mirror of the infinite
                                        God! O my friend — but it is too much for my strength — I sink under the
                                        weight of the splendour of these visions!”
                                    </p>
                                </div>
                            </div>


                        </div>
                        <hr>
                        <div class="with-theme">
                            <h4>With Theme</h4>
                            <div class="border started">

                                <h6>Before you get started<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        A wonderful serenity has taken possession of my entire soul, like these sweet
                                        mornings of spring which I enjoy with my whole heart.
                                    </p>
                                    <p>
                                        I am alone, and feel the charm of existence in this spot, which was created
                                        for the
                                        bliss of souls like mine. I am so happy, my dear friend, so absorbed in the
                                        exquisite sense of mere tranquil existence, that I neglect my talents. I
                                        should be
                                        incapable of drawing a single stroke at the present moment; and yet I feel
                                        that I
                                        never was a greater artist than now.
                                    </p>
                                </div>
                            </div>
                            <div class="border layout">

                                <h6>Layout and design options<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        When, while the lovely valley teems with vapour around me, and the meridian
                                        sun strikes the upper surface of the impenetrable foliage of my trees, and
                                        but a few stray gleams steal into the inner sanctuary.
                                    </p>
                                    <p>
                                        II throw myself down among the tall grass by the trickling stream; and, as I
                                        lie close to the earth, a thousand unknown plants are noticed by me
                                    </p>
                                </div>
                            </div>
                            <div class="border compatibility">

                                <h6>Compatibility with premium plugins<span><i class="fas fa-plus"></i></span></h6>
                                <div class="content stop">
                                    <p>
                                        As it floats around us in an eternity of bliss; and then, my friend, when
                                        darkness overspreads my eyes, and heaven and earth seem to dwell in my soul
                                        and absorb its power, like the form of a beloved mistress
                                    </p>
                                    <p>
                                        I often think with longing, Oh, would I could describe these conceptions,
                                        could impress upon paper all that is living so full and warm within me, that
                                        it might be the mirror of my soul, as my soul is the mirror of the infinite
                                        God! O my friend — but it is too much for my strength — I sink under the
                                        weight of the splendour of these visions!”
                                    </p>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

</main>


